body {
  background-color: #353a5f;
}
h1 {
  color: #7474a4;
}
h2 {
  color: #7878a1;
}
h3 {
  color: #7777ac;
}
h4 {
  color: #8383b4;
}
h5 {
  color: #9b9bca;
}
h6 {
  color: #9595c6;
}
p {
  color: #be8383}
table{background-color:#947178}
td{color:blanchedalmond}
th{color:darkgoldenrod}